@import url('https://fonts.googleapis.com/css?family=Raleway'); /* Raleway Font Import */
@import url('https://fonts.googleapis.com/css?family=Roboto'); /* Roboto Font Import */

.Contact {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #0d0d0d;
}

.Contact-contents-box {
  position: absolute;
  height: 45vh;
  width: 60%;
  top: 25%;
  left: 20%;
  border-style: solid;
  border-color: #dedede;
  border-width: medium;
  animation: 1.5s linear slideDown;
}

.Contact-header {
  position: absolute;
  top: -5%;
  left: -12%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 80px;
  color: #dedede;
  animation: 2s linear slideInLeft;
}

.Contact-github-icon {
  position: absolute;
  height: 6vh;
  width: 5%;
  top: 70%;
  left: 5%;
  background-image: url(../../public/images/icons/GitHub.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Contact-facebook-icon {
  position: absolute;
  height: 6vh;
  width: 5%;
  top: 70%;
  left: 20%;
  background-image: url(../../public/images/icons/Facebook.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Contact-linkedin-icon {
  position: absolute;
  height: 7vh;
  width: 5.8%;
  top: 69%;
  left: 35%;
  background-image: url(../../public/images/icons/Linkedin2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
